@import "resset";
@import "tokkens";

@mixin media-minwidth($screensize){
    @media (min-width:$screensize) {
       @content;
     };
}

body {
    background-color: $background-dark;
}
header{
    margin: 40px 0px;
    display: flex;
    justify-content: center;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 21, 33, 0.1);
    backdrop-filter: blur(10px);
    z-index: 100;
}
.newTaskForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background-color: $on-background-dark;
    border-radius: 10px;
    padding: 20px 40px;
    &-header{
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
}

button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#newTaskBtn, #clearAllTaskBtn{
    padding: 10px 20px;
    margin: 0px 7px;
}
#newTaskBtn{
    background-color: $secondary-dark;
}
#clearAllTaskBtn {
    background-color: transparent;
    border: 1px solid $primary-dark;
    color: $on-background-dark;
}

.listContainer-listToDo{
    &-task {
        display: flex;
        margin : 15px 10px;
        padding: 20px 10px;
        border-radius: 10px;
        word-break: break-all;
        &:nth-child(3n+1){
            background-color: $primary-dark;
        }
        &:nth-child(3n+2){
            background-color: $secondary-dark;
        }
        &:nth-child(3n){
            background-color: $tertiary-dark;
        }
    }
    @include media-minwidth($md-screen){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        &-task {
            width: 27%;
        }
    }
}
